.left-side-content {
  max-width: 50vw;
  height: 100vh;
  margin-left: 0px !important;
  flex-direction: column;
  padding: 10px;
}

#dashboard {
  display: flex;
}

.right-side-content {
  max-width: 40vw;
  padding: 10px;
}

.bar {
  margin: 10px;
}