.menu-container {
  background-color: #08415c;
  margin-bottom: 15px;
  
  
}

.menu-item a{
  color: #fff !important
}

.ui.secondary.pointing.menu .header.item {
  color: #71c9f1 !important;
  
}

.ui.secondary.pointing.menu .header.item :hover {
  color: #fff;
  opacity: 1;
}

.ui.icons.menu-item {
  transform: translateY(25px);
  color:#71c9f1
}

.drop-down {
  transform: translateY(-12px);
}